.subheader{
background:#fff;
box-shadow:0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
padding:40px 0px;
}
.text-red
{
    color:red;
}
.outer{
    background-color:#cfdfee;
    padding:10px;
}
.img-responsinve{
    width:100%;
    
}

.main{
    padding:40px 0px;
}
.bggray{
    background:none;
}
img{
    border-radius:12px 12px 0px 0px;
}
.css-pxxd1-MuiImageListItem-root .MuiImageListItem-img{
    object-fit: scale-down !important;
    height: 120px !important;
}
.css-pxxd1-MuiImageListItem-root{
    border:1px solid #dfe1e5;
    padding:5px;
    border-radius:8px;
    
}